body{
    background-color: rebeccapurple;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    width: 200px;
}

#sidebar button {
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
}